body{
	background-color: #222;
	color: #eee;
	margin-top: 20px;
	font-family: 'Playfair Display SC', serif;}

h1{
	font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.thumb{
	float:left;
}
.thumbnails{
	margin-left: 18%;
}
.thumbnails img{
	height: 80px;
	border: 4px solid #555;
	float: left;
	text-align: center;


}
.thumbnails img:hover{
	border: 4px solid red;
}
.preview{
	
	
}
.preview img{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left:22%;
}